<section class="bonhtmlcontent">
  <img class="bonhtmlcontent-img" src="img/info-model.png" alt="Labelle.tn Cosmetics" loading="lazy" />
  <div class="bonhtmlcontent-content">
    <div class="box-htmlcontent">
      <p class="h1">Labelle.tn</p>
      <p class="h2">Cosmetics</p>
      <div class="information-htmlcontent">
        <p class="h3">
          Bienvenue sur Labelle.tn, votre destination pour tous vos besoins en produits de beauté et de soins
          personnels. Nous sommes une entreprise tunisienne spécialisée dans la vente en ligne de produits
          cosmétiques, de maquillage et de soins de la peau.
        </p>
        <p class="h3">
          Nous croyons que la beauté doit être accessible à tous, c'est pourquoi nous proposons des prix compétitifs
          pour tous nos produits, ainsi que des promotions et des offres spéciales tout au long de l'année.
        </p>
        <p class="h3">
          Naviguez sur notre site facile à utiliser pour trouver ce que vous cherchez, passez votre commande en
          quelques clics et recevez vos produits directement chez vous. Nous offrons également une livraison rapide et
          fiable dans toute la Tunisie.
        </p>
      </div>
    </div>
    <ul class="bonreassurance">
      <li class="bonreassurance-item">
        <span class="box-icon">
          <svg width="27" height="27" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1 5H14V17H1V5Z" stroke="#db96a1" stroke-width="1.6" stroke-linejoin="round" />
            <path d="M14 9H19L22 12.5V17H14V9Z" stroke="#db96a1" stroke-width="1.6" stroke-linejoin="round" />
            <circle cx="6" cy="18.5" r="1.8" stroke="#db96a1" stroke-width="1.6" />
            <circle cx="17.5" cy="18.5" r="1.8" stroke="#db96a1" stroke-width="1.6" />
          </svg>
        </span>
        <span class="box-content">Livraison gratuite à partir de {{ config.freeShippingThreshold() }}DT</span>
      </li>
      <li class="bonreassurance-item">
        <span class="box-icon">
          <svg width="27" height="27" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M5.5 3.5C6 3 7 3 7.4 3.6L9.2 6.2C9.6 6.7 9.5 7.4 9.1 7.9L8 9C8.8 10.9 10.6 13 12.7 14.1L13.9 13C14.4 12.5 15.1 12.5 15.6 12.9L18.2 14.7C18.9 15.2 18.9 16.1 18.4 16.7L17 18.2C16.4 18.8 15.5 19.1 14.7 18.8C9.5 17 4.9 12.4 3.2 7.3C2.9 6.5 3.2 5.6 3.8 5L5.5 3.5Z"
              stroke="#db96a1" stroke-width="1.6" stroke-linejoin="round" />
          </svg>
        </span>
        <span class="box-content">Service client disponible</span>
      </li>
      <li class="bonreassurance-item">
        <span class="box-icon">
          <svg width="27" height="27" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M24.125 7.65625C24.125 4.44646 21.4138 1.84375 18.0697 1.84375C15.5703 1.84375 13.4235 3.29817 12.5 5.37387C11.5765 3.29817 9.42971 1.84375 6.92904 1.84375C3.5875 1.84375 0.875 4.44646 0.875 7.65625C0.875 16.9821 12.5 23.1562 12.5 23.1562C12.5 23.1562 24.125 16.9821 24.125 7.65625Z"
              stroke="#db96a1" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round" />
          </svg>
        </span>
        <span class="box-content">Garentie satisfaction</span>
      </li>
    </ul>
  </div>
</section>
