.featured-products {
  text-align: center;
}

.products-section-title {
  text-align: center;
}

.products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0 30px;
}

@media (max-width: 1199px) {
  .products {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 991px) {
  .products {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 575px) {
  .products {
    grid-template-columns: 1fr;
  }
}

